<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transistorsoft.backgroundgeolocation.demo">

    <!-- NOTE:  added usesCleartextTraffic="true for Android 28 so the SDK can easily post to Transistorsoft test-server at tracker.transistorsoft.com -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.transistorsoft.com"
                    android:pathPattern="/shop/products/native-background-geolocation" />
            </intent-filter>
        </activity>
        <meta-data android:name="com.transistorsoft.locationmanager.license" android:value="42626c4f3d3658762f673b35c92f43467d2944f789c4a32559f37c26eef89608" />

    </application>

</manifest>